<table border="1">
  <tr>
    <th>유저번호</th>
    <th>유저ID</th>
    <th>유저PWD</th>
    <th>유저AGE</th>
  </tr>
  <!-- <tr *ngIf="users.length==0"> -->
    <tr>
      <td colspan="4">조회된 결과가 없습니다.</td>
    </tr>
  <tr *ngFor="let user of users">
    <td>{{user.uiNo}}</td>
    <td>{{user.uiId}}</td>
    <td>{{user.uiPwd}}</td>
    <td>{{user.uiAge}}</td>
  </tr>
</table>
<button (click)="doLogout()">로그아웃</button>c