<table border="1">
  <tr>
    <th>아이디</th>
    <td><input type="text" [(ngModel)]="user.uiId"></td>
  </tr>
  <tr>
    <th>패스워드</th>
    <td><input type="password" [(ngModel)]="user.uiPwd"></td>
  </tr>
  <tr>
    <th>나이</th>
    <td><input type="number" [(ngModel)]="user.uiAge"></td>
  </tr>
</table>
<button (click)="doJoin()">회원가입</button>