<div>
  <button (click)="callFunc1()">함수실행</button><br>
  <button (click)="callFunc2()">바인드실행</button><br>
  <button (click)="callFunc3()">콜실행</button><br>
  <button (click)="callFunc4()">화살표</button><br>
</div>